.form {
  width: 850px !important;
}

@media screen and (max-width: 600px) {
  .form {
    width: 80% !important;
  }
}

@media screen and (max-width: 1200px) {
  .form {
    width: 650px !important;
  }
}

@media screen and (max-width: 1000px) {
  .form {
    width: 500px !important;
  }
}
